/* bestSelling.css */

.bestSelling {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(132, 132, 10, 0.349);
    /* Background color for the container */
}

.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(50% - 20px);
    /* Set width for desktop view */
    background-color: #fff;
    /* Background color for the card */
    overflow: hidden;
    /* Hide overflowing content */
}

.card-img-top {
    width: 100%;
    /* Ensure image fills the container */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.rating {
    color: orange;
}

.fa-star {
    font-size: 20px;
    margin-right: 5px;
}

.checked {
    color: orange;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* Set width for mobile view */
    }
}